* {
    box-sizing: border-box;
}

a {
    text-decoration: none; 
    color: inherit;       
}

/* Logo */
.logo-img {
    height: 40px;
    width: auto;
}

/* Navbar */
.navbar-nav .nav-item {
    display: flex;
    align-items: center;
}

/* Manga Card */
.manga-card {
    display: grid;
    grid-template-columns: auto 1fr;
    background: #f4f4f4;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    min-width: 400px;
    max-width: 1200px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto 10px;
    font-family: Arial, sans-serif;
    margin-bottom: 15px;
}

/* Manga Cover */
.manga-cover img {
    width: 75px;
    height: 100px;
    border-radius: 5px;
    object-fit: cover;
}

/* Manga Details */
.manga-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Manga Header */
.manga-header {
    display: flex;
    align-items: flex-start;
    gap: 5px;
    font-size: 15px;
    font-weight: bold;
}
.pub-status{
    font-size: 10px;
    border: 0.5px solid #fcfcfc;
    padding: 2px 5px;
    background-color: #eeecec;
    border-radius: 5px;
}
.manga-desc {
    font-size: 12px;
    padding-left: 5px;
    font-family: sans-serif;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* change to desired number of lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

/* Manga Info */
.badge{
    border: 1px solid #fcfcfc;
    background-color: #eeecec;
    font-size: 10px;
    color: black;
}

/* Icons */
.flag, .icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-size: cover;
}

/* Pagonation */
.pagination .page-item.orange .page-link {
    background-color: #ff6740;
    border-color: #ff6740;
    color: white;
}

.pagination .page-link {
    color: #ff6740;
}

.pagination .page-link:hover {
    background-color: #ff6740;
    border-color:rgb(252, 94, 55);
    color: #000;
}
.custom-signin {
    background-color: #ff6740;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 1.25rem; /* Bigger text */
    padding: 12px 32px;
    margin-bottom: 20px; 
}

.custom-signin:hover {
    background-color: #e95b37;
    color: white;
}
@media (max-width: 700px) {
    .manga-header {
        flex-direction: column;
    }
    .manga-desc {
        -webkit-line-clamp: 2;
    }
}