*{
    box-sizing: border-box;
}

.manga-container{
    position: relative;

}
.manga-card {
    display: flex;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    height: 100%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto 10px;
    font-family: Arial, sans-serif;
    margin-bottom: 15px;
}
.bg-image{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    background: linear-gradient(to right,  
    rgba(0, 0, 0, 0.7) 10%,  /* Darkest at 10% */
    rgba(0, 0, 0, 0.45) 50%,   /* Midpoint transition */
    rgba(0, 0, 0, 0) 90%),   /* Fully transparent near the right */
    url("../IMG/m1.jpg");  /* Background image */
    background-position: center 20%; /* Moves image 50px up */
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2.5px);
    
}
.manga-details {
    width: 100%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;

    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.manga-cover img {
    width: 200px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.manga-title{

    font-size: 65px;
    font-family: sans-serif;
}
.manga-title-english{

    font-size: 20px;
    font-family: sans-serif;
}
.artist-name{
    margin-top: auto;

    font-size: 20px;
    font-family: sans-serif;
}