body {
    background-color: #1f1f1f;
    color: #e0e0e0;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
/* Manga Info */

.main-manga-info-container {
    position: relative;
    z-index: 1;
}

.manga-container{
    position: relative;

}
.manga-card {
    display: flex;
    padding: 10px;
    margin-bottom: 15px;

}

.manga-cover img {
    width: 200px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.manga-title{
    font-size: clamp(30px, 5vw, 65px);
    color: #ffffff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    font-family: sans-serif;
}
.manga-title-english{
    color: white;
    font-size: 20px;
    font-family: sans-serif;
}
.artist-name{
    margin-top: auto;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
}

.manga-details {
    width: 100%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    color: white;
}
.dropdown-menu {
    background-color: #2a2a2a;
    border: 1px solid #333;
}
.dropdown-item {
    color: white;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: #FF6740 !important;
    color: white !important;
}
.dropdown-item:hover {
    background-color: #3a3a3a;
    color: #ffffff;
}
.no-caret::after {
    display: none !important;
}

.chapter-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 8px;
    width: 100%;
    background-color: #2a2a2a;
    border: 1px solid #333;
    border-radius: 4px;
    padding: 8px;
}
.chapter-container:hover{
    background-color: #3a3a3a;
    cursor: pointer;
}
.comments:hover{
    background-color: #3a3a3a;
}
/* Scanlation Group */
.scan-group{
    width: fit-content;
}
/* Icons */
.flag, .icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-size: cover;
}

.icon  {
    filter: brightness(0) invert(1);
    -webkit-filter: brightness(0) invert(1);
    color: white !important; /
}

.comments img {
    color: #ffffff !important;
    filter: brightness(0) invert(1);
    -webkit-filter: brightness(0) invert(1);
}

/* .chapter-container:hover .icon {
    filter: brightness(0) invert(1);
    -webkit-filter: brightness(0) invert(1);
} */

/* .time i, .uploader i, .views i, .comments img {
    color: #ffffff !important;
    filter: brightness(0) invert(1);
    -webkit-filter: brightness(0) invert(1);
} */


/* Chapter Info Grid */
.chapter-info {
    display: flex;
    width: 100%;
    gap: 10px;
    font-size: 12px;
    border-radius: 1px;
    color: white;
}

/* Info Sections */
.info-left,.info-middle,.info-right{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-size: 15px;
}
.info-left {
    flex: 1;
    gap: 5px;
}

.info-middle {
    min-width: 150px;
    color: #ffffff;
    gap: 5px;
    margin-left: auto;
}

.info-right {
    min-width: 70px;
    color: #ffffff;
    gap: 5px;
}

/* Elements inside middle and right */
.time, .uploader, .views, .comments {
    display: flex;
    gap: 5px;
    align-items: center;
}
.time i, .uploader i, .views i, .comments i {
    color: #ffffff;
}


/* buttons */


.badge {
    font-size: 14px;
    padding: 6px 10px;
    border-radius: 5px;
    color: #e0e0e0;
    background-color: #383838;
}

.text-warning {
    font-size: 16px;
    font-weight: bold;
}

.d-flex span {
    font-size: 14px;
    font-weight: 500;
    color: white;
}

.manga-data span{
    color: #e0e0e0;
}

.btn-orange {
    background-color: #FF6740;
    color: white;
    border-radius: 5px;
    padding: 8px 16px;
    border: none;
    transition: background-color 0.2s ease;
}

.btn-orange:hover {
    background-color: #e65c30;
}

.manga-description {
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

.description-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
}

.see-more-btn {
    display: none;
    background-color: #FF6740;
    color: white;
    border-radius: 5px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    align-self: center;
    transition: background-color 0.2s ease;
}

.see-more-btn:hover {
    background-color: #e65c30;
}

/* Detect when the description overflows */
.manga-disc .manga-description.overflow {
    display: block;
}

/* Show "See More" button if description overflows */
.manga-disc .manga-description.overflow + .see-more-btn {
    display: inline-block;
}
/*  */
/* Responsive */
@media (max-width: 700px) {
    .info-middle {
        min-width: 70px;
        gap: 2px;
    }

    .info-right {
        min-width: 50px;
        gap: 2px;
    }
    .manga-cover img {
        width: 150px;
        height: 200px;
    }
}
@media (max-width: 500px) {
    .manga-cover img {
        width: 75px;
        height: 100px;
    }
}
