.modal-backdrop {
    background: rgba(0, 0, 0, 0.5);
}

/* Center cropping image inside modal */
.crop-container {
    max-width: 100%;
    max-height: 300px;
    overflow: hidden;
}
#cropper-container1{
    max-width: 500px;
    max-height: 500px;
    overflow: hidden;

}
#previewAvatar{
    margin: 0 auto;
}/* Custom Styles */
body {
    background-color: #f8f9fa;
}

.list-group-item {
    border-color: #dee2e6;
}

.list-group-item.fw-bold {
    background-color: #e9ecef;
}

.avatar {
    display: block;
    margin-bottom: 5px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 1px solid #ddd;
    
}

.banner {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 5px;

}

.form-control:read-only {
    background-color: #e9ecef;
}

.modal-content {
    border-radius: 10px;
}

.modal-header {
    border-bottom: 1px solid #dee2e6;
}

.modal-footer {
    border-top: 1px solid #dee2e6;
}